@{
    ViewData["Title"] = "Mudar Password";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";


}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <br />
    <p>
        @Html.Raw(ViewBag.Result)
    </p>
</div>