@model HealthUp.Models.Pessoa
@{
    ViewData["Title"] = "Recuperação de password";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";

}
    
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <br />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="ForgotPassword" method="post">
                @if (ViewBag.Message != null)
                {
                    string[] Message = ViewBag.Message.Split(", ");
                    <div class="alert alert-@Message[0] alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @Message[1]
                    </div>
                }
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Repor password" class="primary-btn" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}