@model HealthUp.Models.Pessoa

@{
    ViewData["Title"] = "Entrar";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="container">
    <h1>Login</h1>
    <hr />
    <br />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username" class="labeltabela"></label>
                    <input id="Username" asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <span class="text-danger"><span id="aviso" style="display:none">Este é o seu primeiro login! Defina a sua password na caixa abaixo!</span></span>
                <div class="form-group">
                    <label asp-for="Password" class="labeltabela"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <a style="color: #82D026;" asp-action="ForgotPassword">Esqueceu-se da sua password?</a>
                <div class="form-group">
                    <input type="submit" value="Login" class="primary-btn" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>

    var url = '@Url.Action("IsNewUser")';
    var aviso = $('#aviso');
    $('#Username').on('input',function() {
        $.getJSON(url, { Username: $(this).val() }, function (response) {
            if (response) {
                aviso.show();
            } if (response == false) {
                aviso.hide();
            }
        });
    });

</script>

}


