@model HealthUp.Models.Mensagem

@{
    ViewData["Title"] = "Ver mensagem";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="container">
    <h1>Mensagem</h1>
    <hr />
    <br />
    <dl class="row">
        <dt class="col-sm-2">
            Para
        </dt>
        <dd class="col-sm-10">
            @Model.IdPessoaReceiverNavigation.Nome
        </dd>
        <dt class="col-sm-2">
            Enviada a
        </dt>
        <dd class="col-sm-10">
            @Model.DataEnvio
        </dd>

        <dt class="col-sm-2">
            Mensagem
        </dt>
        <dd class="col-sm-10">
            <textarea rows="4" cols="50" readonly style="resize:none">@Model.Conteudo</textarea>
        </dd>
        @if (Model.Lida)
        {
            <dt class="col-sm-2">
                Esta mensagem já foi lida!
            </dt>
            <dd class="col-sm-10">

            </dd>
        }
    </dl>
</div>

