@model HealthUp.Models.PlanoTreino

@{
    ViewData["Title"] = "Criar Plano de Treino";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="container">
    <h4>Criar plano de treino</h4>
    <hr />
    <br />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CriarPlanoExercicioSocio">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NumSocioNavigation.NumSocioNavigation.Nome" class="control-label"></label>
                    <select name="SocioEscolhido" class="form-control" style="width:auto" asp-items="@ViewBag.Socios"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="primary-btn" />
                </div>
            </form>
        </div>
    </div>
</div>