@model IEnumerable<HealthUp.Models.Socio>
<div class="container">
<table class="content-table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Telemóvel
            </th>
            <th>
                Fotografia
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumSocioNavigation.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumSocioNavigation.Telemovel)
            </td>
            <td>
                <img src="~/Ficheiros/@Html.DisplayFor(modelItem => item.NumSocioNavigation.Fotografia)" height="200" />
            </td>
            <td>
                <a asp-action="HistoricoAulas" asp-route-id="@item.NumCC">Histórico de Aulas</a>
            </td>
        </tr>
        }
    </tbody>
</table>
</div>